name: Daily Motivation Video Generator

on:
  schedule:
    - cron: '0 */8 * * *' # اجرا هر ۸ ساعت
  workflow_dispatch: # برای اجرای دستی

jobs:
  build-and-generate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install huggingface_hub requests edge-tts moviepy decorator imageio imageio-ffmpeg

    - name: Run Generator Script
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
      run: python main.py

    - name: Upload Video Artifact
      uses: actions/upload-artifact@v4
      with:
        name: daily-motivation-video
        path: final_output.mp4
